streamlit
langgraph
langchain
langchain-openai
tavily-python
pypdf
python-dotenv
reportlab
langchain-google-genai
google-generativeai
faiss-cpu
sentence-transformers
langchain-community
langchain-google-genai
langchain-text-splitters
